body {
  background-color: rgba(223, 224, 224, 0.524);
}
ul,
ol,
li,
a {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: inherit;
  
}

hr {
  margin: 0;
}
.wrapper {
  min-height: 300px;
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 1fr;
  grid-gap: 40px;
  margin: 50px 0;
}
.content {
  background-color: white;
  border-radius: 20px;
}
.container {
  max-width: 95vw;
  margin: 0 auto;
}

.rounded {
  border-radius: 20px;
}
